{% extends "base.html" %}
    {% block titulo %}
       Editor usuario
    {% endblock %}
    {% block principal %}
    <h2>Modifica tus datos personales:</h2>
    <form action="gestionUsuario.php" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" value="{{ user.nombre }}">
      
        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" name="correo" value="{{ user.correo }}">
      
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña" value="{{ user.passwd }}">
      
        <input type="submit" value="Actualizar datos">
      </form>
        
  {% endblock %}